{{set . "title" .title }}
{{template "header" .}}
<div class="container-fluid">
    <div class="row">
        {{template "sidebar" .}}
       
        <div class="col-sm-9">

            <div class="pull-right">
                <a class="btn btn-default-btn-xs btn-primary" href="{{url "User.Profile"}}"><i class="glyphicon glyphicon-user"></i> View Profile</a>
               </div>
    
               <form class="form-horizontal" id="form-edit-client" method="post" action="{{url "User.UpdatePassword" .id}}">
                <fieldset>
                {{template "flash" .}}
                <!-- Form Name -->
                <legend>Change {{ .user.Fullname}} Password</legend>
                <!-- Text input-->
                <input id="id" name="user.ID" type="hidden"   value="{{ .user.ID}}">               
                
                            

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="client-name">Password</label>  
                <div class="col-md-4">
                <input id="password" name="user.Password" type="password"  value="{{index .flash "user.Password"}}" class="{{errorClass "user.Password" .}} form-control input-md">
                </div>
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="client-name">Re-Password</label>  
                <div class="col-md-4">
                <input id="passwordConfirm" name="user.PasswordConfirm" type="password" value="{{index .flash "user.PasswordConfirm"}}" class="{{errorClass "user.PasswordConfirm" .}} form-control input-md">
                <span class="help-block text-danger">Same password as above</span>  
                </div>
              </div>
                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="btn-save"></label>
                  <div class="col-md-4">
                    <button id="btn-save" name="btn-save" class="btn btn-success">Update</button>
                     <a class="btn btn-danger" href="{{url "User.Profile"}}">Cancel</a>
                    
                  </div>
                </div>
                
                </fieldset>
                </form>

        </div>
        <!--/col-span-9-->
    </div>
</div>
{{template "footer" .}}