{{set . "title" "Home"}}
{{template "header" .}}
<div class="container-fluid">
    <div class="row">
        {{template "sidebar" .}}
       
        <div class="col-sm-9">
            {{if .user}}
            <h1>Hello, {{.user.Username}}</h1>
            {{end}}

            {{if .me}}
            <h3>You're {{.me.name}} on Facebook</h3>
            <img src="" />            
            {{end}}
        <div id="signin">
       <form action="{{.chatdemo}}">
        {{if .flash.error}}
        <p class="error">
            {{.flash.error}}
        </p>
        {{end}}
        <p>
            <label for="nick">Choose a nick name</label>
            <input type="text" name="user" id="user">
        </p>
        <p>
            <label for="nick">Demonstration</label>
            <select name="demo">
                <option></option>
                <option value="websocket">WebSocket</option>
            </select>
        </p>
        <p>
            <label></label>
            <input type="submit" id="enter" value="Enter the chat room">
        </p>
    </form>
</div>
        </div>
        <!--/col-span-9-->
    </div>
</div>
{{template "footer" .}}