{{set . "title" "Chat room"}} 
{{template "header" .}}

<div class="container-fluid">
  <div class="row">
    {{template "sidebar" .}}

    <div class="col-sm-9">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-comment"></span> Hey, {{.user}}
          <div class="btn-group pull-right">
            <a class="btn btn-default btn-xs" href="/">
              <i class="glyphicon glyphicon-list"></i>Leave the chat room</a>

          </div>
        </div>
        <div class="panel-body">

          <ul class="chat">
            <div id="thread">
              <script type="text/html" id="message_tmpl">
               
                          {{raw "<%"}} if(event.Type == 'message') { %>
                      <li class="<%= event.User == '{{.user}}' ? 'right' : 'left bg-info' %> clearfix" >
                        <!-- <span class="chat-img <%= event.User == '{{.user}}' ? 'pull-right' : 'pull-left' %> ">
                <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
               </span> -->
                     <div class="chat-body clearfix">
                        <div class="header">                         
                            <strong class="<%= event.User == '{{.user}}' ? 'pull-right text-primary' : 'pull-left' %> primary-font">{{raw "<%"}}= event.User == '{{.user}}' ? 'You' : event.User %> </strong>:
                            
                          </div>
                              <p>
                                {{raw "<%"}}= event.Text %>
                              </p>
                            <small class="text-muted pull-right">
                            <span class="glyphicon glyphicon-time "></span> {{raw "<%"}}= event.newTime %>
                          </small>
                          </div>
                            </li>
                          {{raw "<%"}} } %>
                          {{raw "<%"}} if(event.Type == 'join') { %>
                            <li class="message notice">
                              <p class="text-success">
                               <strong class="primary-font ">{{raw "<%"}}= event.User %></strong> joined the room {{raw "<%"}}= event.newTime %>
                              </p>
                            </li>
                          {{raw "<%"}} } %>
                          {{raw "<%"}} if(event.Type == 'leave') { %>
                            <li class="message notice">
                              <p class =" text-danger">
                               <strong class="primary-font">{{raw "<%"}}= event.User %></strong> left the room {{raw "<%"}}= event.newTime %>
                              </p>
                            </li>
                          {{raw "<%"}} } %>
                          {{raw "<%"}} if(event.Type == 'quit') { %>
                            <li class="message important">
                              <h2></h2>
                              <p>
                                You are now disconnected!
                              </p>
                            </li>
                          {{raw "<%"}} } %>
                          </script>

              <!-- <li class="right clearfix">
              <span class="chat-img pull-right">
                <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
              </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <small class=" text-muted">
                    <span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                  <strong class="pull-right primary-font">Bhaumik Patel</strong>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                </p>
              </div>
            </li>
            <li class="left clearfix">
              <span class="chat-img pull-left">
                <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
              </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <strong class="primary-font">Jack Sparrow</strong>
                  <small class="pull-right text-muted">
                    <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                </p>
              </div>
            </li>
            <li class="right clearfix">
              <span class="chat-img pull-right">
                <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
              </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <small class=" text-muted">
                    <span class="glyphicon glyphicon-time"></span>15 mins ago</small>
                  <strong class="pull-right primary-font">Bhaumik Patel</strong>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                </p>
              </div>
            </li> -->
          </ul>
          </div>
          <div class="panel-footer">
            <div class="input-group">
              <input id="message" autocomplete="off" autofocus type="text" class="form-control input-sm" placeholder="Type your message here..."
              />
              <span class="input-group-btn">
                <button class="btn btn-warning btn-sm" id="send">
                  Send</button>
              </span>
            </div>
          </div>
        </div>


      </div>

      <!-- chat end div -->
    </div>
    <!--/col-span-9-->
  </div>
</div>
<script type="text/javascript">

  // Create a socket
  var socket = new WebSocket('ws://' + window.location.host + '/websocket/room/socket?user={{.user}}')

  // Display a message
  var display = function (event) {
    var d = formatDate(event.Timestamp)
    event['newTime'] = d;
    $('#thread').append(tmpl('message_tmpl', { event: event }));
    // $('#thread').scrollTo('max')
    $("#thread").scrollTop($("#thread").prop("scrollHeight"));
      // $('#messages').append($('<li>').text(event.User));
  }

  /* get date format*/
  function formatDate(d) {
      d = new Date(d * 1000);
      return d.getMonth() + 1 + '/' + d.getDate() + '/' + d.getFullYear() + " " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();

    }

  // Message received on the socket
  socket.onmessage = function (event) {
    
    console.log(JSON.parse(event.data))
    display(JSON.parse(event.data))

  }

  $('#send').click(function (e) {
    var message = $('#message').val()
    $('#message').val('')
    socket.send(message)
  });

  $('#message').keypress(function (e) {
    if (e.charCode == 13 || e.keyCode == 13) {
      $('#send').click()
      e.preventDefault()
    }
  })

</script>